name: github-action
on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 16
      - name: install
        run: |
             npm install
             npm install -g yarn
             npm install -g vsce
      - name: lint
        run: npm run lint
      - name: static code analysis
        run: npm run code-analysis
      - name: test
        uses: GabrielBB/xvfb-action@v1
        with:
          run: npm run coverage
      - name: coverage
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
